@CHARSET "ISO-8859-1";

/* --------------------------------------------------------	*/
/*  MAIN */
/* --------------------------------------------------------	*/

body {
	background-color: #36434B;
}


div.columns {
	display: inline-block;
}
.main {
    width:100%;
    margin-top: 40px;
    background-color: #D2CDE6;
    padding-top: 30px;    
}

.column-1 {
	width: 25%;
}

.column-2 {
	width: 50%;
}

.column-3 {
	width: 25%;
}

.content {
	text-align: center;
}

#footer {
	font-size: 13px;
	color: #ffffff;
	text-align: center;
}

#footer a:link {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}

#footer a:hover {
    color: #A7318F;
    background-color: transparent;
    text-decoration: none;
}

/* --------------------------------------------------------	*/
/*  Forms */
/* --------------------------------------------------------	*/

div#formContainer,
div#responseContainer {
    overflow: auto;
    width:100%;
    text-align: center;
    margin-top: 40px;
}

div#responseMessage {
    overflow: auto;
    width:100%;
    text-align: center;
    margin-bottom: 10px;
}

div#tableContainer {
    overflow: auto;
    width:100%;
    text-align: center;
}

.tableContent {
	overflow-x:auto;
	width: 100%;
	text-align: left;
	
}

tr {
	line-height: 10px;
}

tr:nth-child(even) {
	background-color: #bebebe;
} 

tr:nth-child(odd) {
	background-color: #919191;
}

th, td {
    border: 1px solid #fff;
    padding-left: 25px;
    font-size: 16px;
} 

.response {
	font-size: 20px;
	font-weight: 500;
	color: #ff0000;
}

.responseContentText,
.responseContentValue {
	font-size: 16px !important;
	font-weight: 500 !important;
	color: #000000 !important;
	padding: 0px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #A7318F;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #A7318F;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #A7318F;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #A7318F;
}

.error_hide {
	color: white;
	display: none;
}

.error_show {
	color: red;
	display: inline;
}

.text-show {
	color: red;
	text-shadow: none;
	display: inline;
}

.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0
}

/* --------------------------------------------------------	*/
/*  Buttons  */
/* --------------------------------------------------------	*/
  
.btn {
  color:#fff;
  background:#36434B;
  height:48px;
  width:50%;
  padding:0px 10px;
  text-shadow:none;
  border-radius:2px;
  -webkit-box-shadow:rgba(0, 0, 0, 0) 0 0 0 !important;
  box-shadow:rgba(0, 0, 0, 0) 0 0 0 !important;
  border:0px;
  margin-top:10px;
}

.btn h3{
	color:#fff;
}

.btn:hover {
  color:#fff;
  background:#A7318F;
}

/* --------------------------------------------------------	*/
/*  Links  */
/* --------------------------------------------------------	*/

a:link {
    color: #0000a0;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #ff0000;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #0000a0;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}

