<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>WISE Solutions - Gestión de Productos</title>
</head>
<body>
<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#fafafa">
<tbody>
<tr>
<td>
<table border="0" width="600" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td>
<table style="max-width: 700px; width: 100%;" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
<tbody>
<tr>
<td style="padding: 15px 30px 20px 30px;" bgcolor="#D2CDE6">
<table style="width: 425px !important;" border="0" width="425" cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr>
<td>
<table style="max-width: 525px; width: 100%;" border="0" cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr>
<td height="70">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding: 5px 0 0 0;"><img src="http://wisesolutions-ar.net/wise-logo.png" alt="WISE Logo" width="150" height="auto" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="border-bottom: 1px solid #f2eeed; padding: 30px 30px 30px 30px;">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="color: #153643; font-family: sans-serif; font-size: 24px; font-weight: bold; line-height: 28px; padding: 0 0 15px 0;">GESTION DE PRODUCTOS</td>
</tr>
<tr>
<td style="color: #153643; font-family: sans-serif; font-size: 14px; line-height: 22px;">&emsp;</td>
</tr>
<tr>
<td style="color: #153643; font-family: sans-serif; font-size: 20px; line-height: 22px;">Se adjunta fichero de relevamiento de Productos</td>
</tr>
<tr>
<td style="color: #153643; font-family: sans-serif; font-size: 14px; line-height: 22px;">&emsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</body>
</html>